In [1]:
import os
import pandas as pd
import numpy as np
import anndata
import time
import matplotlib.pyplot as plt
import json
import requests
import tabulate

In [2]:
download_base = '../../abc_download_root'

url = 'https://allen-brain-cell-atlas.s3-us-west-2.amazonaws.com/releases/20230630/manifest.json'
manifest = json.loads(requests.get(url).text)

In [4]:
def create_clickable_ENSEMBL_id(id):
    url_template= '''<a href="https://identifiers.org/ENSEMBL:{id}" target="_blank">{id}</a>'''.format(id=id)
    return url_template

In [6]:
def create_clickable_id(id):
    if pd.notna(id) :
        url_template= '''<a href="https://identifiers.org/{id}" target="_blank">{id}</a>'''.format(id=id)
        return url_template
    else :
        return ''

In [3]:
metadata = manifest['file_listing']['WMB-10X']['metadata']
rpath = metadata['gene']['files']['csv']['relative_path']
file = os.path.join( download_base, rpath)
gene = pd.read_csv(file)
gene.sort_values('gene_symbol',inplace=True)
gene

,gene_identifier,gene_symbol,name,mapped_gene_identifier,comment
28818,ENSMUSG00000109644,0610005C13Rik,RIKEN cDNA 0610005C13 gene,NaN,NaN
28490,ENSMUSG00000108652,0610006L08Rik,RIKEN cDNA 0610006L08 gene,NaN,NaN
1116,ENSMUSG00000007777,0610009B22Rik,RIKEN cDNA 0610009B22 gene,NCBIGene:66050,NaN
21769,ENSMUSG00000086714,0610009E02Rik,RIKEN cDNA 0610009E02 gene,NaN,NaN
12822,ENSMUSG00000043644,0610009L18Rik,RIKEN cDNA 0610009L18 gene,NaN,NaN
...,...,...,...,...,...
17428,ENSMUSG00000064360,mt-Nd3,mitochondrially encoded NADH dehydrogenase 3,NCBIGene:17718,NaN
17429,ENSMUSG00000064363,mt-Nd4,mitochondrially encoded NADH dehydrogenase 4,NCBIGene:17719,NaN
17434,ENSMUSG00000065947,mt-Nd4l,mitochondrially encoded NADH dehydrogenase 4L,NCBIGene:17720,NaN
17430,ENSMUSG00000064367,mt-Nd5,mitochondrially encoded NADH dehydrogenase 5,NCBIGene:17721,NaN
17431,ENSMUSG00000064368,mt-Nd6,mitochondrially encoded NADH dehydrogenase 6,NCBIGene:17722,NaN

In [ ]:
def create_output_html( df, file ) :
    
    df['gene_identifier'] = df['gene_identifier'].apply(create_clickable_ENSEMBL_id)

In [5]:
gene['gene_identifier'] = gene['gene_identifier'].apply(create_clickable_ENSEMBL_id)

In [7]:
gene['mapped_gene_identifier'] = gene['mapped_gene_identifier'].apply(create_clickable_id)

In [8]:
formatter = {'gene_symbol': lambda x: '<b>' + x + '</b>'}

In [9]:
output = gene.to_html(index=False, na_rep='',render_links=True,escape=False,classes="mystyle",formatters=formatter)

In [10]:
file = os.path.join('..','temp','test.html')
#with open(file,'w') as f :
#    f.write(output)

In [11]:
pd.set_option('colheader_justify', 'center')   # FOR TABLE <th>

html_string = '''
<html>
  <head><title>WMB-10x Gene List</title></head>
  <link rel="stylesheet" type="text/css" href="example_style.css"/>
  <body>
    {table}
  </body>
</html>.
'''

# OUTPUT AN HTML FILE
with open(file, 'w') as f:
    f.write(html_string.format(table=output))